*
  box-sizing: border-box
  &::-webkit-scrollbar
    width: 4px
    height: 4px
    &-thumb
      border-top: 1px solid #777
      border-right: 1px solid #777
      border-bottom: 1px solid #777
      border-left: 2px solid #777
      background-color: #aaa
      border-radius: 10px
      &:hover
        border-top: 1px solid #555
        border-right: 1px solid #555
        border-bottom: 1px solid #555
        border-left: 2px solid #555
        background-color: #777
    &-track
      border-width: 0
      height: 4px
      width: 4px
      &:hover
        border-left: solid 1px #aaa
        background-color: #eee
a
  text-decoration: none
    


.container
  position: relative
  width: 1139px
  max-width: 95%
  margin: 0 auto
.ul
  list-style: none
  margin: 0
  padding-left: 0
body
  font-family:  'Lato'
  &::-webkit-scrollbar
    width: 8px
    &-thumb
      border-radius: 0
.button-link
  border-radius: 20px
  cursor: pointer
  background-color: $blue
  padding: 10px 20px
  transition: 0.2s
  &:hover
    opacity: 0.8
  &__text
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
    margin-right: 5px
    margin-left: 5px
    color: $light
  