.grid
  background-color: $bg-light-color
  padding-top: 155px
  padding-bottom: 60px
  &-wrapper
    display: grid
    grid-gap: 30px
    grid-template: 130px repeat(4, minmax(170px, min-content)) / repeat(4, minmax(263px, 1fr))
  &-quotes
    grid-column: 2/4
    grid-row: 4/6
    display: grid
    grid-template: repeat(2, minmax(170px, min-content)) / repeat(2, 1fr)
    grid-gap: 30px
