.header
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 2
  background-color: $dark
  height: 70px
  transition: 1s
  &--light
    background-color: #fff
  &-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    padding: 15px 0
    &_mobile
      flex-direction: column
  &-logo
    display: flex
    align-itens: center
    &__image
      margin-right: 10px
  &-menu
    display: flex
    align-items: center
    &__item
      position: relative
      &:not(:last-child)
        margin-right: 30px
      &--light
        &:after 
          display: block
          content: ""
          background-color: $light
          height: 3px
          width: 0%
          left: 50%
          position: absolute
          transition: width .2s ease-in-out
          transform: translateX(-50%)
        &:hover:after,
        &:focus:after 
          width: 100%
    &__link
      font-weight: 900
      font-size: 14px
      line-height: 20px
      text-decoration: none
      &--light
        color: $light
      &--dark
        color: #939699
        &:after 
          display: block
          content: ""
          background-color: #939699
          height: 3px
          width: 0%
          left: 50%
          position: absolute
          transition: width .2s ease-in-out
          transform: translateX(-50%)
        &:hover:after,
        &:focus:after 
          width: 100%

  &__menu
    &-button
      display: none
      width: 20px
      height: 12px
      cursor: pointer

  &--cover
    position: absolute
    right: 0
    left: 0
    top: 0
    height: 100%
    z-index: 1000
    transition: 1s


.search
  position: relative
  display: flex
  align-items: center
  height: 39px
  border-radius: 10px
  overflow: hidden  
  &__input
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 20px
    height: 39px
    width: 263px
    border: none
    padding-left: 25px
    padding-right: 40px
    &--light
      background-color: $search-color
      color: #ffffff
      &::placeholder
        color: #BCBFC2
    &--dark
      background-color: #F5F5F5
      color: #000
      &::placeholder
        color: #939699
    &:focus
      outline: none

  &__button
    width: 20px
    height: 20px
    position: absolute
    top: 50%
    right: 11px
    transform: translateY(-50%)

.lines
  height: 100%
  &__item
    height: 2px
    width: 100%
    background-color: $light
    margin: 0
    &:not(:last-child)
      margin-bottom: 3px

